<h2>{{title}}</h2>

<app-search (search)="handleSearch($event)"></app-search>

<table>
  <tr *ngFor="let user of users | search:filtroValor"><!--| filter:filterPost-->
    <td>ID {{user.id}}</td>-
    <td>Nombre: {{user.nombre}} {{user.apellido}}</td>
    <td>Rut: {{user.rut}}</td>
    <td>Fecha Nacimiento: {{user.fechaNacimiento}}</td>
    <td>Dirección: {{user.direccion.calle}}({{user.direccion.numero}}), {{user.direccion.comuna}}</td>
    <td>Teléfono: {{user.telefono}}</td>
    <td>Estado: {{user.activo !== 0 ? 'activo' : 'inactivo'}}</td>

  </tr>
</table>
